/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");

body {
  background: #9290fc;
  /* background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%); */
  background-attachment: fixed;
  background-size: cover;
}

#container {
  direction: rtl;
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 700px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-between; */
}

.row {
  align-self: flex-start;
}
.add-button {
  width: 42%;
  border-radius: 9px;
  color: white;
}

.text {
  margin-left: 90px;
}

.inputs {
  margin-top: 22px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

body {
  /* height: 100vh; */
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: #fff;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  font-size: 10px;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  /* font-size: 1.2rem; */
  margin: 0 auto;
  /* padding: 1.5rem 2rem; */
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 35%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  direction: rtl;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
