/* .input-div {
  margin-top: 20px;
}
.input-div label {
  margin: 13px 0;
  position: relative;
  display: flex;
}

.input-div span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 150px;

  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

.input-div input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin: 2px;
}

.input-div input:focus + span,
input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-80%) translateX(10px);
}
.input-div input:focus {
  outline: none;
} */

body {
  /* height: 100vh; */
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: #fff;
}
.input-field-container {
  margin-top: 15px;
  border: blue 1px solid;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  font-size: 10px;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  /* font-size: 1.2rem; */
  margin: 0 auto;
  /* padding: 1.5rem 2rem; */
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 35%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin-top: 15px;
  /* direction: rtl; */
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
